@import './label';
@import './kol-alert-wc';
@import './kol-required';

@import '../mixins/alert-wc';
@import '../mixins/typography';
@import '../mixins/input-base';

// @import '../mixins/form-field';
// @import '../mixins/form-field-order';

@layer kol-theme-component {
	@include kol-alert-theme;
	// @include kol-form-field-theme;
	// @include kol-form-field-order-theme;
	@include kol-input-theme('kol-input');

	.kol-input {
		@include kol-typography-body;
		@include kol-input-base;

		cursor: pointer;
		width: 100%;
		overflow: hidden;
	}

	// .error input {
	// 	@include kol-input-error;
	// }
}
