@mixin kol-form-field {
	@layer kol-component {
		/**
	 * Normalize Form Field
	 */
		.kol-form-field {
			font-size: rem(16);
		}

		.kol-form-field {
			$root: &;

			display: grid;

			&--disabled & {
				&__label,
				&__hint {
					opacity: 0.5;
				}
			}

			&--required & {
				&__label-text {
					&::after {
						content: '*';
					}
				}

				&__tooltip {
					.span-label::after {
						content: '*';
					}
				}
			}

			.kol-alert {
				display: grid;

				&__container {
					place-items: center;
					display: flex;
				}
				&__container-content {
					flex-grow: 1;
				}
			}
		}
	}
}
