@import './typography';

@mixin kol-form-field-theme {
	.kol-form-field {
		color: var(--color-grey);
		gap: var(--spacing-xs);

		&__label {
			@include kol-typography-label;

			&-text::after {
				padding-left: 0.25em;
			}
		}

		&__hint {
			@include kol-typography-hint;
		}

		&__msg {
			//@include kol-alert-wc;

			&.kol-alert--error {
				// @include kol-alert-wc(--color-red);
			}
		}
	}
}
