@import '../mixins/rem';

@layer kol-theme-component {
	.kol-card {
		background-color: white;
		border-color: var(--border-color);
		border-style: solid;
		border-width: rem(1);
		border-radius: calc(2 * var(--border-radius));
		width: 100%;
		height: 100%;

		&__headline {
			padding: rem(8);
			display: block;
			border-bottom-style: solid;
			border-bottom-color: var(--border-color);
			border-bottom-width: rem(1);
		}

		&__header,
		&__content {
			display: block;
			padding: rem(8);
		}
	}
}
