@import '../mixins/rem';
@import '../mixins/indented-text';

@layer kol-theme-component {
	:host {
		font-family: var(--font-family);
	}

	.kol-details {
		font-size: rem(16);
		&__heading-button {
			border-radius: var(--border-radius);

			&:focus-within {
				cursor: pointer;
			}

			.kol-button {
				.kol-span__label {
					border-bottom-color: #000;
				}
			}

			.kol-icon {
				font-size: rem(19.2);
			}

			.kol-span__container {
				display: flex;
				text-align: left;
				gap: 0;
			}
		}

		&__content {
			&.indented-text {
				@include indented-text;
				margin: rem(4) 0 0 rem(10.4);
			}
		}
	}
}
