@import '../@shared/label';

@import '../mixins/alert-wc';
@import '../mixins/rem';
@import '../mixins/typography';

@layer kol-theme-component {
	:host {
		@include kol-alert-theme;
	}

	/**
	 * normalizes the layout of form elements.
	*/
	.kol-form-field {
		border: 0;
		margin: 0;
		padding: 0;
		flex-wrap: wrap;
	}

	/**
	 * order the layout of form elements.
	*/
	.kol-form-field {
		&__input {
			order: 1;
		}

		&__msg {
			order: 2;
		}

		&__hint {
			order: 3;
		}
	}

	.kol-form-field {
		gap: rem(8);

		&__input {
			gap: rem(8);
		}

		&__label {
			display: block;
			width: 100%;
			line-height: 1.5;
		}

		&__hint {
			@include kol-typography-hint;
			margin-top: rem(8);
		}
	}

	.kol-field-control {
		gap: 0.5em;

		&__label {
			@include kol-typography-label;
			font-weight: normal;
		}

		&__hint {
			@include kol-typography-hint;
		}
	}

	.kol-input {
		@include kol-typography-body;
		width: 100%;
		color: var(--color-anthrazit);
		border-color: var(--default-border);
		border-width: rem(2);
		border-style: solid;
		border-radius: rem(5);
		/* padding: rem(10) rem(14); */

		appearance: none;
		transition: 0.5s;
		border-radius: 100%;
		height: calc(6 * 2 * var(--spacing));
		min-width: calc(6 * 2 * var(--spacing));
		width: calc(6 * 2 * var(--spacing));

		&:hover {
			border-color: var(--color-achat);
		}

		&:focus {
			outline-color: var(--color-achat);
			outline-offset: rem(2);
			outline-style: solid;
			outline-width: rem(3);
		}

		&:checked:before {
			box-shadow: 0 0 rem(1.6) black;
			background-color: var(--color-petrol);
		}

		&:disabled {
			background-color: var(--color-input-bg-default);
			border-color: #999;
			cursor: not-allowed;
		}
	}

	.kol-form-field__input--orientation-horizontal {
		gap: rem(16);
		align-items: flex-start;
	}
}
