@import '../mixins/alert-wc';
@import '../mixins/rem';
@import '../mixins/typography';

@import '../mixins/input-base';
@import '../mixins/form-field';
@import '../mixins/form-field-order';

@layer kol-theme-component {
	@include kol-alert-theme;
	@include kol-form-field-theme;

	.kol-form-field {
		&__input {
			order: 1;
		}

		&__hint {
			order: 2;
		}

		&__msg {
			order: 3;
		}
	}

	.kol-field-control {
		gap: rem(8);

		&__label {
			@include kol-typography-body;
		}
	}

	.kol-checkbox--variant-default {
		width: unset;

		.kol-input {
			@include kol-typography-body;
			color: var(--default-letter);
			border-color: var(--border-color);
			border-width: rem(2);
			border-style: solid;
			appearance: none;
			background-color: white;
			cursor: pointer;
			transition: 0.5s;

			&:not(&:disabled):hover {
				border-color: var(--color-petrol);
			}

			&:disabled {
				opacity: 0.5;
			}
		}

		&.kol-checkbox--checked {
			.kol-input {
				background-color: var(--color-petrol);
				border-color: var(--color-petrol);
				color: var(--color-weiss);
			}

			.kol-icon {
				color: var(--color-weiss);
			}
		}

		&.kol-checkbox--disabled {
			.kol-input {
				opacity: 0.5;
				cursor: not-allowed;
			}
		}
	}

	.kol-checkbox--variant-switch {
		.kol-icon {
			color: var(--color-weiss);
		}

		.kol-input {
			color: var(--default-letter);
			border-color: var(--border-color);
			border-width: rem(2);
			border-style: solid;

			display: block;
			min-width: 3.2em;
			width: 3.2em;
			height: 1.7em;
			position: relative;

			&:before {
				-webkit-transition: 0.5s;
				-moz-transition: 0.5s;
				-ms-transition: 0.5s;
				transition: 0.5;
				width: 1.2em;
				height: 1.2em;
				left: calc(0.25em - rem(2));
				top: calc(0.25em - rem(2));
				background-color: black;
				position: absolute;
			}
		}

		&.kol-checkbox--checked {
			.kol-icon {
				color: var(--color-weiss);
			}

			.kol-input {
				background-color: var(--color-petrol);
				border-color: var(--color-petrol);
				color: var(--default-letter);

				&:before {
					transform: translateX(1.5em);
					background-color: white;
				}
			}
		}

		&.kol-checkbox--indeterminate {
			.kol-input {
				&:before {
					transform: translateX(0.75em);
					background-color: var(--color-petrol);
				}
			}
		}

		&.kol-checkbox--checked .kol-icon {
			background-color: var(--color-white);
			color: #000;
		}

		&.kol-checkbox--disabled {
			.kol-input {
				opacity: 0.5;
				cursor: not-allowed;
			}
		}
	}

	.kol-input-checkbox--variant-button {
		gap: var(--spacing-xs) 0;

		& .kol-form-field {
			&__input {
				order: 1;
			}

			&__hint {
				order: 2;
			}

			&__msg {
				order: 3;
			}
		}
	}

	.kol-input-checkbox__field-control--variant-button {
		&:focus-within {
			outline-color: var(--color-blue-130);
			outline-style: solid;
			outline-width: rem(2);
		}
	}
}
