@import '../mixins/rem';

@layer kol-theme-component {
	.kol-nav {
		$root: &;

		&__list {
			list-style: none;
			margin: 0;
			padding: 0;
			border-radius: var(--border-radius);
			background-color: var(--color-petrol);

			&--horizontal {
				display: flex;
			}

			&--nested {
				padding-left: rem(16);
			}
		}

		.kol-button,
		.kol-link {
			align-items: center;
			color: var(--color-weiss);
			display: flex;
			gap: rem(8);
			min-height: var(--a11y-min-size);
			padding: 0 rem(8);
			text-align: left;
			text-decoration: none;

			&:hover,
			&:focus-visible {
				text-decoration: underline;
			}
		}
	}
}
