@import '../mixins/rem';

@layer kol-theme-component {
	.kol-progress {
		--kolibri-text-label-padding: #{rem(60)};

		&__bar-progress {
			fill: var(--color-achat);
		}

		&__cycle-background {
			stroke: var(--color-fluorit);
		}

		&__cycle-progress {
			stroke: var(--color-achat);
		}
	}
}
