@import '../mixins/rem';

@layer kol-theme-component {
	.kol-progress {
		--kolibri-text-label-padding: #{rem(60)};

		&__progress,
		&__span {
			display: block;
			height: 0;
			overflow: hidden;
			width: 0;
		}

		&__progress {
			display: none;
		}

		&__line line:first-child,
		&__circle circle:first-child {
			fill: transparent;
			stroke: var(--color-fluorit);
		}

		&__line line:last-child,
		&__circle circle:last-child {
			stroke: var(--color-achat);
			fill: transparent;
		}
	}
}
