@import '../mixins/button';
@import '../mixins/rem';

@layer kol-theme-component {
	.kol-split-button {
		border-radius: rem(32);
		border-style: solid;
		border-width: var(--spacing);

		.kol-popover__content {
			background-color: #fff;
		}

		&__horizontal-line {
			background-color: var(--border-color);
			border-radius: rem(2);
			width: rem(1);
		}

		&__button .kol-button {
			border-top-left-radius: rem(32);
			border-bottom-left-radius: rem(32);
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			font-family: var(--font-family-sans);
			/* text-transform: uppercase; */

			.kol-span {
				border-top-left-radius: rem(32);
				border-bottom-left-radius: rem(32);
				font-size: inherit;
				padding: 0 rem(16);
				min-width: rem(44);
				min-height: rem(44);
			}
		}

		&__secondary-button .kol-button {
			height: 100%;
			border-top-right-radius: rem(32);
			border-bottom-right-radius: rem(32);
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			font-family: var(--font-family-sans);
			/* text-transform: uppercase; */

			.kol-span {
				border-top-right-radius: rem(32);
				border-bottom-right-radius: rem(32);
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
				font-size: inherit;
				padding: 0 rem(16);
				min-width: rem(44);
				min-height: rem(44);
			}

			:active .kol-span {
				border-top-right-radius: rem(32);
				border-bottom-right-radius: rem(32);
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}

			:focus .kol-span {
				border-top-right-radius: rem(32);
				border-bottom-right-radius: rem(32);
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}
		}

		@include kol-button('kol-button');
	}
}
