@import '../mixins/kol-table-stateless-wc';
@import '../mixins/rem';

@layer kol-theme-component {
	@include kol-table-stateless-wc;

	.kol-table-stateful {
		&__pagination {
			overflow-x: auto;
			overflow-y: hidden;

			&:last-child {
				border-style: solid;
				border-width: rem(1);
				border-color: var(--border-color);
			}
		}
	}

	@media (min-width: 1024px) {
		.kol-table-stateful__pagination,
		.kol-table-stateful__pagination-wrapper:last-child {
			grid-auto-flow: column;
		}

		.kol-pagination {
			display: flex;
			gap: rem(16);
		}
	}
}
