@import '../mixins/rem';

@layer kol-theme-component {
	.kol-tabs {
		width: 100%;
		display: grid;

		&--tabs-align-left {
			--order: 0;

			grid-template-columns: auto 1fr;
		}

		&--tabs-align-right {
			--order: 1;

			grid-template-columns: 1fr auto;
		}

		&--tabs-align-top {
			--order: 0;
		}

		&--tabs-align-bottom {
			--order: 1;
		}

		&__button-group {
			display: flex;
			background-color: var(--color-petrol);
			order: (--order);
		}

		&__tabs-content {
			padding: 0.25em;
			border: rem(1) solid var(--border-color);
		}

		.kol-button-wc {
			width: 100%;
		}

		.kol-button {
			box-sizing: border-box;
			font-size: inherit;
			line-height: 1.25;
			cursor: pointer;
			border-width: rem(2);
			box-shadow: 0 0 0.25em gray;
			width: inherit;
			overflow: hidden;
			border-style: solid;
			padding: calc(4 * var(--spacing));
			display: grid;
			gap: 0.25em;
			align-items: center;
			justify-content: center;
			text-align: center;
			transition-duration: 0.5s;
			transition-property: background-color, color, border-color;

			&:disabled {
				cursor: not-allowed;
				opacity: 0.5;
			}

			&.selected {
				background-color: white;
				border-bottom-width: 0.25em;
				border-bottom-style: solid;
				border-bottom-color: var(--color-citrin);
			}

			.kol-span_container {
				display: flex;
				gap: 0.25em;
				align-items: center;
				justify-content: center;
			}

			&.primary,
			&.primary:disabled:hover {
				background-color: var(--kolibri-color-primary);
				border-color: var(--kolibri-color-primary);
				color: white;
			}

			&.primary:hover,
			&.primary:focus {
				color: var(--kolibri-color-primary);
			}

			&.secondary,
			&.secondary:disabled:hover {
				background-color: var(--kolibri-color-secondary);
				border-color: var(--kolibri-color-secondary);
				color: white;
			}

			&.secondary:hover,
			&.secondary:focus {
				color: var(--kolibri-color-secondary);
			}

			&.normal,
			&.normal:disabled:hover {
				background-color: var(--color-petrol);
				border-color: var(--color-petrol);
				color: white;
			}

			&.normal:hover,
			&.normal:focus {
				color: var(--color-petrol);
			}

			&.danger,
			&.danger:disabled:hover {
				background-color: var(--kolibri-color-danger);
				border-color: var(--kolibri-color-danger);
				color: white;
			}

			&.danger:hover,
			&.danger:focus {
				color: var(--kolibri-color-danger);
			}

			&.ghost,
			&.ghost:disabled:hover {
				background-color: white;
				border-color: var(--kolibri-color-ghost);
				color: var(--kolibri-color-ghost);
			}

			&.ghost:hover,
			&.ghost:focus {
				background-color: var(--kolibri-color-ghost);
				color: white;
			}

			&:hover,
			&:focus {
				background-color: white;
				box-shadow: 0 0 0.25em black;
			}

			&:active {
				outline: 0;
				box-shadow: none;
			}
			.close-button {
				font-size: 25%;
				height: fit-content;
				width: 0;

				.button {
					width: rem(16);
					position: relative;
					height: rem(16);
					left: -4.25em;
					top: 0.25em;
				}
			}
		}
	}
}
