@import '../mixins/alert-wc';
@import '../mixins/input-base';
@import '../mixins/form-field';
@import '../mixins/form-field-order';

@layer kol-theme-component {
	@include kol-alert-theme;
	@include kol-form-field-theme;
	@include kol-form-field-order-theme;
	@include kol-input-theme('kol-textarea');

	.kol-textarea {
		line-height: 1.5;
		width: 100%;

		&--readonly {
			border-color: var(--border-default);
			background-color: var(--background-light-grey);
		}
	}
}
