@import '../@shared/mixins';
@import '../style';
@import '../@shared/kol-table-stateless-mixin';

@layer kol-component {
	@include kol-table-stateless-styles;

	.kol-table-stateful {
		font-family: var(--font-family);
		font-size: rem(16);

		&__pagination,
		&__pagination-wrapper:last-child {
			display: grid;
			place-items: center;
		}
	}

	.kol-pagination {
		display: flex;
		flex-wrap: wrap;
	}

	@media (max-width: 1024px) {
		.kol-pagination {
			flex-direction: column;
		}
	}

	@media (min-width: 1024px) {
		.kol-table-stateful__pagination,
		.kol-table-stateful__pagination-wrapper:last-child {
			grid-auto-flow: column;
		}

		.kol-pagination {
			display: flex;
		}
	}
}
