@import '../../mixins/rem';

@layer kol-theme-component {
	:host {
		--kolibri-spacing: #{rem(4)};
		font-family: var(--font-family);
	}

	a,
	button {
		appearance: none;
		border-radius: rem(4);
		text-decoration: none;
	}

	a:focus,
	button:focus {
		outline: none;
	}

	a > .kol-span,
	button > .kol-span {
		min-height: rem(44);
		min-width: rem(44);
		border-radius: rem(4);
		font:
			normal normal 400 rem(16) / rem(20) arial,
			sans-serif;
		font-weight: 400;
		margin: 0;
		padding: rem(12);
	}

	a:focus-visible > .kol-span,
	button:focus-visible > .kol-span {
		outline-offset: rem(-4);
		outline-style: solid;
		outline-width: rem(2);
	}

	a:active > .kol-span,
	button:active > .kol-span,
	a:hover > .kol-span,
	button:hover > .kol-span {
		box-shadow:
			0 rem(2) rem(4) rgb(9 49 142 / 8%),
			0 0 rem(10) rgb(9 49 142 / 4%),
			0 rem(4) rem(5) rgb(9 49 142 / 4%),
			0 rem(-4) rem(4) rgb(9 49 142 / 4%);
	}

	.primary a > .kol-span,
	.primary button > .kol-span {
		background-color: #0e47cb;
		color: #fff;
	}

	.primary a:focus-visible > .kol-span,
	.primary button:focus-visible > .kol-span {
		outline-color: #fff;
	}

	.primary a:hover > .kol-span,
	.primary button:hover > .kol-span {
		background-color: #3e6cd5;
	}

	.secondary a > .kol-span,
	.secondary button > .kol-span {
		background-color: #fff;
		border: rem(2) solid #0e47cb;
		color: #0e47cb;
		padding: calc(rem(12) - rem(2)) calc(rem(16) - rem(2));
	}

	.secondary a:focus-visible > .kol-span,
	.secondary button:focus-visible > .kol-span {
		box-shadow: inset 0 0 0 rem(4) #0e47cb;
		outline-color: #fff;
	}

	.secondary a:hover > .kol-span,
	.secondary button:hover > .kol-span {
		border-color: #0e47cb;
		color: #0e47cb;
	}

	.normal a > .kol-span,
	.normal button > .kol-span {
		background-color: #fc0;
		color: #171a22;
	}

	.normal a:focus-visible > .kol-span,
	.normal button:focus-visible > .kol-span {
		outline-color: #000;
	}

	.normal a:hover > .kol-span,
	.normal button:hover > .kol-span {
		background-color: #fc0;
		border-color: #fc0;
	}

	.danger a .kol-span,
	.danger button .kol-span {
		background-color: var(--color-red);
		border-color: var(--color-red);
		color: var(--color-white);
	}

	.danger a:hover .kol-span,
	.danger button:hover .kol-span {
		background-color: var(--color-red);
		border-color: var(--color-red);
	}

	.ghost a > .kol-span,
	.ghost button > .kol-span {
		color: #0e47cb;
	}

	.ghost a:focus-visible > .kol-span,
	.ghost button:focus-visible > .kol-span {
		outline-color: #0e47cb;
	}

	.ghost a:hover > .kol-span,
	.ghost button:hover > .kol-span {
		color: #0e47cb;
	}
}
