@import '../../mixins/rem';
@import '../mixins/kol-table-stateless-wc';

@layer kol-theme-component {
	@include kol-table-stateless-wc;

	.kol-table-stateful {
		font-family: var(--font-family);

		&__pagination {
			overflow-x: auto;
			overflow-y: hidden;
			gap: rem(16);
		}
	}

	@media (min-width: 1024px) {
		.kol-table-stateful__pagination:last-child,
		.kol-table-stateful__pagination-wrapper:last-child {
			grid-auto-flow: column;
		}

		.kol-table-stateful__pagination:last-child .kol-pagination {
			display: flex;
			gap: rem(16);
		}
	}
}
