@import '../mixins/kol-table-stateless-wc';

@layer kol-theme-component {
	@include kol-table-stateless-wc;

	.kol-table-stateful {
		hyphens: var(--hyphens);
		font-family: var(--font-family);
		line-height: var(--line-height);
		word-break: break-word;
	}

	@media (min-width: 1024px) {
		.kol-pagination {
			display: flex;
			align-items: center;
		}
	}
}
