@import '../mixins/kol-table-stateless-wc';

@layer kol-theme-component {
	@include kol-table-stateless-wc;

	.kol-table-stateful {
		&__pagination {
			font-family: var(--font-family);
			hyphens: var(--hyphens);
			line-height: var(--line-height);
			word-break: break-word;
		}
	}

	@media (min-width: 1024px) {
		.kol-pagination {
			display: flex;
			align-items: center;
		}
	}
}
