@import '../@shared/input-text';
@import '../mixins/form-field-order.textarea';

@layer kol-theme-component {
	:host {
		font-family: var(--font-family);
	}

	@include kol-form-field-order-textarea-theme;

	.kol-input-container {
		textarea {
			border: none;
		}

		input::placeholder {
			color: var(--color-subtle);
		}

		textarea {
			overflow: auto;
			display: block;

			&:disabled {
				cursor: not-allowed;
			}
		}
	}
}
