@import '../@shared/mixins';
@import '../../styles/global';
@import '../input-line';
@import '../form-field';
@import '../input-container';

@include kol-alert-styles;

@layer kol-component {
	.password-toggle-button {
		position: absolute;
		transform: translateX(-100%);
	}

	.kol-tooltip-wc {
		--kol-tooltip-width: #{rem(160)};
	}
}
