@import './legacy-input';

@layer kol-component {
	input:not([type='checkbox'], [type='radio']),
	select:not([multiple], [size]) {
		height: 2.75em;
	}

	input:focus,
	option:focus,
	select:focus,
	textarea:focus {
		outline: 0;
	}
}
