@import '../@shared/mixins';
@import '../../assets/codicons/codicon';

@layer kol-component {
	/*
	* display necessary to center icon
	 */
	:host {
		display: contents;
	}

	/*
   * The <code>:important</code> is important, because we should always override the font icon style.
   */
	.kol-icon {
		color: inherit;
		line-height: inherit;
		font-size: inherit !important;
		&:before {
			font-size: inherit !important;
		}
	}
}
